@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
}

@keyframes blur-propagate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  0% {
    opacity: 1;
  }
}

@layer utilities {
  .Roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }
  .Roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
  .Roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
  .Blur-propagate {
    animation: blur-propagate 1s infinite ease-in;
  }
}
